################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CIS29_Project/v16
/Debug/*
/demo2.webm
*.zip
/CIS29_Group_Project
/temp
/code
/.vs/CIS29_Project/v15/.suo
